<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<b>It is better to run this example in a incognito window.</b>

<p>Tested in Safari and Chrome on Mac</p>
<ul>
  <li>The first time the application runs, 'Result' shows: <b>https://httpbin.org/get'</b></li>
  <li>After reload, 'Result' shows: <b>'https://httpbin.org/redirect-to?url=https://httpbin.org/get'</b></li>
</ul>

<p>Code executed:</p>
<code>
  {{"this._http.get('https://httpbin.org/redirect-to?url=https://httpbin.org/get', { observe: 'response' }).subscribe(response => this.result = response.url);"}}
</code>


<h2>Result:</h2>
{{ result }}

<p>Possible explanation: after the reload the service worker executes the request
  using 'Fetch' and the HttpClient returns different value for the URL</p>
